.cr {
    background: orange;
    width: 50px;
    height: 50px;
    border: 2px solid;
    border-radius: 30px;
  }
  
  .cr_black {
      background: black;
  }

  .cr_grey {
    background: grey;
  }
  
  .cr_yellow {
    background: yellow;
  }
  
  .cr_hovered:hover {
    background: green;
  }
  