header {
    background-color: black;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header {
    &__text {
        color: white;
        font-size: 30px;
    }
    &__button {
        color: white;
        font-size: 30px;    
        background-color: orange; 
        width: 150px;
        height: 50px;
        line-height: 45px;
        text-align: center;
        border: 3px solid red;
    }
    &__input {
        cursor: pointer;
    }
}

