footer {
    background-color: green;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
  &__button {
    color: white;
    font-size: 30px;    
    background-color: orange; 
    width: 150px;
    height: 50px;
    line-height: 45px;
    text-align: center;
    border: 3px solid red;
  }
  &__input {
    cursor: pointer;
}
}
  